@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Open+Sans&display=swap');
html, body {
    width: auto!important; overflow-x: hidden!important;
    background-color: yellowgreen;
    /*background-color: rgb(240, 243, 171);*/
}
*{
    padding: 0;
    margin: 0px;
}


.border{
    background-color: white;
    position: absolute;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 30px;
    border-radius: 60px;
    margin: auto;
    left: 75px;
    font-family: 'Open Sans', sans-serif;
   
}
.brand{
    padding: 5px;
    vertical-align: middle;
    display: flex;
    font-size: 80px;

}

.banner{
    opacity: 80%;
}
.links{
    display: inline-flexbox;
    font-size: 20px;
}
span{
    padding: 25px;
    cursor: pointer;

}

.heading{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 50px;
    color: white;
    line-height: 0.2em;
    font-family: 'Montserrat', sans-serif;
}


.brandname{
    font-size: 23px;
    color: brown;
    padding: 20px;

}



.card img{
    width: 100%;
    border-radius: 12px;
    height: 214px ;

    object-fit: cover;

}

#container{
    max-width: 300px;

    margin-top: 20vh;
    float: left;
    margin-right: 4vh;

}

.card{
    background-color: white;
    padding: 8px;


    border-radius: 12px;
    border: 1px solid #BACDDB;
}
 
.name{
    font-size: 24px;
    font-weight: 600;

    margin-top: 16px;
}

p{
    font-size: 14px;
    color: #7f8c9b;
    line-height: 150%;
}

button{
    border: none;
    padding: 12px 24px;
    border-radius: 50px;
    font-weight: 600;
    color: green;
    background-color: #adeaa5;

    margin: 0 auto;
    display: block;

    transition: all 200ms ease-in-out;
    cursor: pointer;
}

button:focus, button:hover{
    background-color: green;
    color: #adeaa5;
}

.card_details{
    padding: 16px 8px 8px 8px;
} 